Ableton Folder Info
Sounds/Single_Sounds/Character_Sound/Marsmaennchen/Erdlinge.wav
Sounds/Single_Sounds/Character_Sound/Marsmaennchen/Erdlinge2.wav
Sounds/Single_Sounds/Character_Sound/Robot/Erdlinge2 Project/Samples/Imported/Erdlinge2.wav
Sounds/Single_Sounds/Character_Sound/Robot/Techniksiegt_raw.wav
